<script>
   const changeTheme = () => {
      const themeType = localStorage.getItem('themeType') || 'light';
      const themeIconClassList = document.querySelector('#themeIcon').classList;

      if(themeType !== 'dark') {
         document.documentElement.className = 'dark';
         if(!themeIconClassList.contains('fa-toggle-off')) {
            document.querySelector('#themeIcon').classList.add('fa-toggle-off');
         }
         document.querySelector('#themeIcon').classList.remove('fa-toggle-on');
         localStorage.setItem('themeType', 'dark');
      } else {
         document.documentElement.className = 'light';
         if(!themeIconClassList.contains('fa-toggle-on')) {
            document.querySelector('#themeIcon').classList.add('fa-toggle-on');
         }
         document.querySelector('#themeIcon').classList.remove('fa-toggle-off');
         localStorage.setItem('themeType', 'light');
      }
   }
</script>
<div class="themeIconDiv" onclick="changeTheme()"><i id="themeIcon" class="fa-solid fa-toggle-on fa-xl"></i></div>
<header role="banner">
<nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
</ul>
</nav>
</header>