/** color theme **/
:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --header-bar-color: #4170d7;
  --blockquote-bar-color: rgba(137, 122, 93, 0.806);
  --code-bg-color: #edecec;
  --code-text-color: rgb(214, 92, 4);
  --pre-bg-color: #f8f8f9;
  --pre-highlight-color: #6e6d6d;
}

:root.dark {
  --bg-color: #282828;
  --text-color: #e1e1e1;
  --header-bar-color: #72b0c6;
  --blockquote-bar-color: rgba(233, 229, 189, 0.506);
  --code-bg-color: #212121;
  --code-text-color: #2d91c8;
  --pre-bg-color: #2f3032;
  --pre-highlight-color: #9e9c9c;
}