/** color theme **/
:root,
:root.light {
  --bg-color: #f9f9f7;
  --text-color: #123;
  --title-bar-color: #222222;
  --blockquote-bar-color: #222222;
  --blockquote-bg-color: #f3f2f2;
  --code-bg-color: #ffffff;
  --code-text-color: #329964;
  --code-border-color: #ebe9e9;
  --pre-bg-color: #f8f8f9;
  --pre-highlight-color: #6e6d6d;
  --time-color: #908f8f;
  --title-hover-color: #ff4c5a;
  --active-color: #ff4c5a;
}

:root.dark {
  --bg-color: #282828;
  --text-color: #e1e1e1;
  --title-bar-color: #e1e1e1;
  --blockquote-bar-color: #e1920b;
  --blockquote-bg-color: #2f3032;
  --code-bg-color: #212121;
  --code-text-color: #5c88b7;
  --code-border-color: #2c2a2a;
  --pre-bg-color: #2f3032;
  --pre-highlight-color: #9e9c9c;
  --time-color: #9e9c9c;
  --title-hover-color: #5c88b7;
  --active-color: #5c88b7;
}
