/** color theme **/
:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --header-bar-color: #4170d7;
  --blockquote-bar-color: #4170d7;
  --blockquote-bg-color: #f3f2f2;
  --code-bg-color: #eceded92;
  --code-text-color: rgb(13, 70, 101);
  --code-border-color: #d4d4d4;
  --pre-bg-color: #f8f8f9;
  --pre-highlight-color: #6e6d6d;
  --time-color: #999999;
  --title-hover-color: #469d74;
}

:root.dark {
  --bg-color: #282828;
  --text-color: #e1e1e1;
  --header-bar-color: #72b0c6;
  --blockquote-bar-color: #72b0c6;
  --blockquote-bg-color: #343434;
  --code-bg-color: #212121;
  --code-text-color: #2d91c8;
  --code-border-color: #2c2a2a;
  --pre-bg-color: #2f3032;
  --pre-highlight-color: #9e9c9c;
  --time-color: #9e9c9c;
  --title-hover-color: #a2bf63;
}
